adminUser: admin
adminPassword: "{{ grafana_admin_password }}"

persistence:
  enabled: false

resources:
  requests: { cpu: 50m, memory: 192Mi }
  limits: { memory: 512Mi }

sidecar:
  dashboards:
    enabled: true
    searchNamespace: ALL
  resources:
    limits: { memory: 128Mi }

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: VictoriaMetrics
        type: prometheus
        uid: prometheus
        url: http://vmsingle-server.{{ monitoring_namespace }}.svc:8428
        isDefault: true
      - name: Jaeger
        type: jaeger
        uid: jaeger
        url: http://jaeger.{{ monitoring_namespace }}.svc:16686

grafana.ini:
  server:
    domain: "{{ public_domain }}"
    root_url: "https://{{ public_domain }}/grafana/"
    serve_from_sub_path: true

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: default
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default

dashboards:
  default:
    node-exporter-full:
      gnetId: 1860
      revision: {{ node_exporter_dashboard_revision }}
      datasource: VictoriaMetrics
