apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana
  namespace: {{ monitoring_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: {{ acme_issuer }}
spec:
  ingressClassName: cilium
  tls:
    - hosts:
        - {{ public_domain }}
      secretName: grafana-tls
  rules:
    - host: {{ public_domain }}
      http:
        paths:
          - path: /grafana
            pathType: Prefix
            backend:
              service:
                name: grafana
                port:
                  number: 80
