apiVersion: v1
kind: Config
clusters:
  - name: kuby
    cluster:
      server: https://127.0.0.1:6443
      certificate-authority-data: {{ sa_data['ca.crt'] }}
users:
  - name: deployer
    user:
      token: {{ sa_data.token | b64decode }}
contexts:
  - name: deployer
    context:
      cluster: kuby
      user: deployer
      namespace: {{ app_namespace }}
current-context: deployer
