apiVersion: v1
kind: Secret
metadata:
  name: gateway
  namespace: {{ app_namespace }}
type: Opaque
stringData:
  api-key: "{{ gateway_api_key }}"
{% if ghcr_pull_token %}
---
apiVersion: v1
kind: Secret
metadata:
  name: ghcr
  namespace: {{ app_namespace }}
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: '{{ {"auths": {"ghcr.io": {"auth": (github_user ~ ":" ~ ghcr_pull_token) | b64encode}}} | to_json }}'
{% endif %}
